<%= form_with(model: tovar) do |form| %>
  <% if tovar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tovar.errors.count, "error") %> prohibited this tovar from being saved:</h2>

      <ul>
        <% tovar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :count, style: "display: block" %>
    <%= form.text_field :count %>
  </div>

  <div>
    <%= form.label :metric, style: "display: block" %>
    <%= form.text_field :metric %>
  </div>

  <div>
    <%= form.label :articul, style: "display: block" %>
    <%= form.text_field :articul %>
  </div>

  <div>
    <%= form.label :price_rozdr, style: "display: block" %>
    <%= form.text_field :price_rozdr %>
  </div>

  <div>
    <%= form.label :price_opt, style: "display: block" %>
    <%= form.text_field :price_opt %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :sklad_locate, style: "display: block" %>
    <%= form.text_field :sklad_locate %>
  </div>

  <div>
    <%= form.label :params_data, style: "display: block" %>
    <%= form.text_field :params_data %>
  </div>

  <div>
    <%= form.label :time_on_sklad, style: "display: block" %>
    <%= form.text_field :time_on_sklad %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
