<div id="<%= dom_id tovar %>">
  <p>
    <strong>Name:</strong>
    <%= tovar.name %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= tovar.count %>
  </p>

  <p>
    <strong>Metric:</strong>
    <%= tovar.metric %>
  </p>

  <p>
    <strong>Articul:</strong>
    <%= tovar.articul %>
  </p>

  <p>
    <strong>Price rozdr:</strong>
    <%= tovar.price_rozdr %>
  </p>

  <p>
    <strong>Price opt:</strong>
    <%= tovar.price_opt %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tovar.price %>
  </p>

  <p>
    <strong>Sklad locate:</strong>
    <%= tovar.sklad_locate %>
  </p>

  <p>
    <strong>Params data:</strong>
    <%= tovar.params_data %>
  </p>

  <p>
    <strong>Time on sklad:</strong>
    <%= tovar.time_on_sklad %>
  </p>

</div>
