<div id="<%= dom_id bank %>">
  <p>
    <strong>Number caunt bank:</strong>
    <%= bank.number_caunt_bank %>
  </p>

  <p>
    <strong>Mfo:</strong>
    <%= bank.mfo %>
  </p>

  <p>
    <strong>Name and rquesit bank:</strong>
    <%= bank.name_and_rquesit_bank %>
  </p>

  <p>
    <strong>Oue organization:</strong>
    <%= bank.oue_organization_id %>
  </p>

</div>
