<%= form_with(model: oue_organization) do |form| %>
  <% if oue_organization.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(oue_organization.errors.count, "error") %> prohibited this oue_organization from being saved:</h2>

      <ul>
        <% oue_organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :short_name, style: "display: block" %>
    <%= form.text_field :short_name %>
  </div>

  <div>
    <%= form.label :ederpou, style: "display: block" %>
    <%= form.text_field :ederpou %>
  </div>

  <div>
    <%= form.label :ipn, style: "display: block" %>
    <%= form.text_field :ipn %>
  </div>

  <div>
    <%= form.label :type_rent, style: "display: block" %>
    <%= form.text_field :type_rent %>
  </div>

  <div>
    <%= form.label :adress, style: "display: block" %>
    <%= form.text_field :adress %>
  </div>

  <div>
    <%= form.label :factic_adress, style: "display: block" %>
    <%= form.text_field :factic_adress %>
  </div>

  <div>
    <%= form.label :send_adress, style: "display: block" %>
    <%= form.text_field :send_adress %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :mail, style: "display: block" %>
    <%= form.text_field :mail %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
