<div id="<%= dom_id oue_organization %>">
  <p>
    <strong>Name:</strong>
    <%= oue_organization.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= oue_organization.short_name %>
  </p>

  <p>
    <strong>Ederpou:</strong>
    <%= oue_organization.ederpou %>
  </p>

  <p>
    <strong>Ipn:</strong>
    <%= oue_organization.ipn %>
  </p>

  <p>
    <strong>Type rent:</strong>
    <%= oue_organization.type_rent %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= oue_organization.adress %>
  </p>

  <p>
    <strong>Factic adress:</strong>
    <%= oue_organization.factic_adress %>
  </p>

  <p>
    <strong>Send adress:</strong>
    <%= oue_organization.send_adress %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= oue_organization.phone %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= oue_organization.mail %>
  </p>

</div>
