<div id="<%= dom_id order %>">
  <p>
    <strong>Date send:</strong>
    <%= order.date_send %>
  </p>

  <p>
    <strong>Params for send:</strong>
    <%= order.params_for_send %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Ful price:</strong>
    <%= order.ful_price %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= order.notes %>
  </p>

</div>
