<div id="<%= dom_id worker %>">
  <p>
    <strong>First name:</strong>
    <%= worker.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= worker.last_name %>
  </p>

  <p>
    <strong>Rather name:</strong>
    <%= worker.rather_name %>
  </p>

  <p>
    <strong>Name for contract:</strong>
    <%= worker.name_for_contract %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= worker.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= worker.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= worker.role %>
  </p>

</div>
