<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= organization.short_name %>
  </p>

  <p>
    <strong>Ederpou:</strong>
    <%= organization.ederpou %>
  </p>

  <p>
    <strong>Ipn:</strong>
    <%= organization.ipn %>
  </p>

  <p>
    <strong>Type rent:</strong>
    <%= organization.type_rent %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= organization.adress %>
  </p>

  <p>
    <strong>Factic adress:</strong>
    <%= organization.factic_adress %>
  </p>

  <p>
    <strong>Send adress:</strong>
    <%= organization.send_adress %>
  </p>

  <p>
    <strong>Number caunt bank:</strong>
    <%= organization.number_caunt_bank %>
  </p>

  <p>
    <strong>Mfo:</strong>
    <%= organization.mfo %>
  </p>

  <p>
    <strong>Name and rquesit bank:</strong>
    <%= organization.name_and_rquesit_bank %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= organization.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= organization.email %>
  </p>

</div>
